html, body {
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: #FFF;
  font-size: 1rem;
  font-family: ".SFNSText-Regular", "SFNS Display", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}

/*For sticky footer Read this http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menubar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px white;
}

.menubar-left {
  height: 3.5rem; /* Will remove this after we get actual logos */
  display: flex;
}

.menubar-left > div {
  padding: 0.6rem 1.5rem;
  font-size: 1.5rem;
  align-self: center;
}

.menubar-right {
  display: flex;
}

.menubar-right > div {
  padding: 0.6rem 1.5rem;
  align-self: center;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  margin: 5% 0 0 3%;
}

.sidebar > div {
  padding: .6rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px white;
}

.footer-menu {
  display: flex;
}

.footer-menu > div {
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  align-self: center;
}


.social-media {
  display: flex;
}

.social-media > div {
  padding: 0.4rem 2.5rem;
  font-size: 1.5rem;
}
